*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* nvabar start*/



header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-right: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #006887 ;
    transition: color 0.3s;
    font-size: 15px;
    margin-right: 10px;
}

.nav-links a:hover {
    color: #2066b0
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line1, .line2, .line3 {
    width: 25px;
    height: 3px;
    background-color: rgb(25, 24, 24);
    margin: 3px 0;
    transition: transform 0.4s, opacity 0.4s;
}

.number{
    text-decoration: underline;
}

/* navbar end */
.backgroundHero{
   background-image: url('/images/skyline_2x.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}


.tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
} 

.tablinks {
    background-color: #006887;
    margin-right: 15px;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tablinks:hover {
    background-color: #D4357D;
    color: #fff;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 20px;
}

/* Style the active tab */
.active {
    display: block;
}





.overlay-container {
    position: relative;
    width: 100%;
    max-width: 800px; /* Adjust the width as needed */
    margin: 0 auto;
}

/* Image */
.overlay-image {
    width: 100%;
    height: 100%;
}

/* Text overlay */
.overlay-text {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, rgb(90, 52, 52, 0) 0%, rgb(76 139 152) 100%);
    transition: 0.3s;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 338px;
    padding-top: 204px;
}
.overlay-textone{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, rgb(90, 52, 52, 0) 0%, rgb(212,53,125, 0.9) 100%);
    transition: 0.3s;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 338px;
    padding-top: 204px;
}

.overlay-texttwo{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, rgb(90, 52, 52, 0) 0%, rgb(88,52,85, 0.9) 100%);
    transition: 0.3s;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 338px;
    padding-top: 204px;
}



.overlay-textthree{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, rgb(90, 52, 52, 0) 0%,  rgb(44,123,90,0.9) 100%);
    transition: 0.3s;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 338px;
    padding-top: 204px;
}

.whatudo:hover .overlay-text{
    background:linear-gradient(to top, rgb(76, 139, 152, 0.7) 0%, rgb(76,139, 152, 0.9) 100%);

}
.whatudoone:hover .overlay-textone{
    background:linear-gradient(to top, rgb(212,53,125, 0.7)0%, rgb(212,53,125, 0.9) 100%);
}

.whatudotwo:hover .overlay-texttwo{
    background:linear-gradient(to top, rgb(88,52,85, 0.7)0%, rgb(88,52,85, 0.9) 100%);
}
.whatudothree:hover .overlay-textthree{
    background-color: rgb(44,123,90,0.9);
    background:linear-gradient(to top, rgb(44,123,90,0.7)0%, rgb(44,123,90,0.9) 100%);
}











.whatButton{
    display: none;
}
.whatudo:hover .whatButton{
    display: block;
}

.whatudoone:hover .whatButton{
    display: block;
}

.whatudotwo:hover .whatButton{
    display: block;
}

.whatudothree:hover .whatButton{
    display: block;
}
.whatudo:hover .privateDuty{
    position: relative;
    top: -10px;
}

.carousel-container {
    display: flex;
    overflow: hidden;
    
}

.carousel-slide {
    flex: 0 0 100%;
    display: none;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.carousel-slide p {
    margin: 0;
    font-size: 24px;
}

/*about page  */

.aboutbg{
    background-image: linear-gradient(rgb(20,85,156,0.7), rgb(20,85,156,0.7)), url('../images/bronx.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
}

.service{
    background-image:  url('../images/service-banner1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
}
.contact{
    background-image:  url('../images/Header8-scaled.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
}
.refferel{
    background-image:  url('../images/referral-banner-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
}

@media screen and (max-width: 1200px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #ffffff;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        z-index: 1;
    } 
    .nav-links a {
        text-decoration: none;
        color: #006887;
        transition: color 0.3s;
        font-size: 18px;
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }

    .nav-links.active {
        display: flex;
    }

    .burger {
        display: flex;
    }

    .burger.active .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.active .line2 {
        opacity: 0;
    }

    .burger.active .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}


@media only screen and (min-device-width: 754px) and (max-device-width: 1000px) {
    /* Styles */
    .newyorkText{
        display: flex;
        flex-direction: column;
    }
  }
